/*______________________chargement de la page______________________*/
.dots {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: visible;
    animation: fadeOut 2s forwards; 
    animation-delay: 3s;
}


.dots {
    width: 3.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

  
  .dots div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #fc2f70;
    animation: fade 0.8s ease-in-out alternate infinite;
}

  
  .dots div:nth-of-type(1) {
    animation-delay: -0.4s;
}

  
  .dots div:nth-of-type(2) {
    animation-delay: -0.2s;
}

  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}


/*______________________site______________________*/

* {
  background-color: rgb(17, 17, 46);
}

a {
  color: aliceblue;
  display: flex; 
  justify-content: center;
}




/*______________________sitepage1______________________*/

h1 {
  color: aliceblue; 
  display: flex;
  justify-content: center;
}

.zoom-titre{
  transition: transform 0.3s;
  max-width: 100%
}

.zoom-titre:hover {
  transform: scale(1.5);
}


/*______________________sitepage2______________________*/

.zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom :hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.imagepage2 {
  width: 250px;
	height: 250px;
  display: flex;
}

.zoom {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


/*______________________sitepage3______________________*/ 